{% extends 'base_layout.html' %}
{% block title %} Home {% endblock %}

{# Home page #}
  {% block content %}
<!--    <div class="sub-header">
     <h3><i class="fa fa-search"></i>
      <form class="inline" action="demo_form.asp">
        <input type="text" name="search" placeholder="search google">
        
        <i class="fa fa-arrow-right"></i>
      </form> 
     </h3>
   </div> -->
   <div class="alps"><img src="images/alps.jpg"> </div>
<div class="inner-80">
<div class="item-container"></div>
   <a href="http://youtube.com">
     <div class="item">
      <i class="fa fa-youtube fa-4x"></i>
     </div>
   </a>
   <a href="http://facebook.com">
     <div class="item">
      <i class="fa fa-facebook-square fa-4x"></i>
     </div>
    </a>
    <a href="http://gmail.com">
     <div class="item">
      <i class="fa fa-envelope fa-4x"></i>
     </div>
    </a>
    <a href="http://google.com">
     <div class="item">
      <i class="fa fa-search fa-4x"></i>
     </div>
    </a>
    <a href="http://skype.com">
     <div class="item">
      <i class="fa fa-skype fa-4x"></i>
     </div>
    </a>
    <a href="http://twiiter.com">
     <div class="item">
      <i class="fa fa-twitter fa-4x"></i>
     </div>
    </a>
    <a href="http://tumblr.com">
     <div class="item">
      <i class="fa fa-tumblr fa-4x"></i>
     </div>
   </a>
</div>
</div>

<!-- <div class="menu-container">

  <div class="button base-button">
    <i class="fa fa-circle-o fa-2x"><span class="tooltip">MENU</span></i><div class="circle"></div><div class="circle-sub"></div>
    <div class="button sub-button search">
      <i class="fa fa-search"><span class="tooltip">SEARCH</span></i><div class="circle-sub"></div>
    </div>
    <div class="button sub-button new">
      <i class="fa fa-plus"><span class="tooltip">NEW TAB</span></i><div class="circle-sub"></div>
    </div>
    <div class="button sub-button star">
      <i class="fa fa-star"><span class="tooltip">FAVORITES</span></i><div class="circle-sub"></div>
    </div>
  </div>
  
</div> -->

  {% endblock %}
