{% extends 'base_layout.html' %}
{% block title %} Home {% endblock %}

{# Home page #}
  {% block content %}
   <h2>~ &nbsp;&nbsp; Gester &nbsp; &nbsp; ~</h2>
   <div class="sub-header">
     <h3><i class="fa fa-search"></i>
      <form class="inline" action="demo_form.asp">
        <input type="text" name="search" placeholder="search google">
        
        <i class="fa fa-arrow-right"></i>
      </form> 
     </h3>
   </div>
<div class="inner-80">
<div class="item-container"></div>
   <div class="item">
    <i class="fa fa-youtube fa-4x"></i>
   </div>
   <div class="item">
    <i class="fa fa-facebook-square fa-4x"></i>
   </div>
   <div class="item">
    <i class="fa fa-github fa-4x"></i>
   </div>
   <div class="item">
    <i class="fa fa-apple fa-4x"></i>
   </div>
   <div class="item">
    <i class="fa fa-skype fa-4x"></i>
   </div>
   <div class="item">
    <i class="fa fa-twitter fa-4x"></i>
   </div>
   <div class="item">
    <i class="fa fa-tumblr fa-4x"></i>
   </div>
</div>
</div>
   <div class="footer-fixed">
     <h3>{{username}} &nbsp; &nbsp;<div class="inline right"><i class="fa fa-cog"></i></div></h3>
   </div>
  {% endblock %}
