{% extends 'base_layout.html' %}
{% block title %} {{title}} {% endblock %}

{# Menu #}
{% block content %}

<div class="menu-container">

	<div class="button base-button">
		<i class="fa fa-circle-o fa-2x"><span class="tooltip">MENU</span></i><div class="circle"></div><div class="circle-sub"></div>
		<div class="button sub-button search">
			<i class="fa fa-search"><span class="tooltip">SEARCH</span></i><div class="circle-sub"></div>
		</div>
		<div class="button sub-button new">
			<i class="fa fa-plus"><span class="tooltip">NEW TAB</span></i><div class="circle-sub"></div>
		</div>
		<div class="button sub-button star">
			<i class="fa fa-star"><span class="tooltip">FAVORITES</span></i><div class="circle-sub"></div>
		</div>
		<div class="button sub-button cog">
			<i class="fa fa-cog"><span class="tooltip">SETTINGS</span></i><div class="circle-sub"></div>
		</div>
		<div class="button sub-button back">
			<i class="fa fa-arrow-left"></i><div class="circle-sub"></div>
		</div>
		<div class="button sub-button forward">
			<i class="fa fa-arrow-right"></i><div class="circle-sub"></div>
		</div>
	</div>
	
</div>

{% endblock %}