/*font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display SC', serif;*/
body {
  background-color: #333;
}
p,
h1,
h2,
h3,
h4 {
  padding: 1em;
  background-color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}
.left {
  text-align: left;
}
.right {
  text-align: right;
  float: right;
}
.inline {
  display: inline;
}
h2 {
  font-family: 'Lancelot', cursive;
  font-size: 150%;
  position: relative;
  margin-top: 100px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
}
h3 {
  font-size: 1.0em;
  color: #330000;
  margin: 2em 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
h3:hover {
  background-color: white;
}
form input {
  width: 88%;
  line-height: 2.5em;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.sub-header {
  max-width: 60%;
  margin: 0 auto;
  font-family: 'Playfair Display SC', serif;
  padding: 0.5em;
}
.footer-fixed {
  position: fixed;
  font-size: 1.2em;
  bottom: 0px;
  right: 1em;
  width: auto;
}
.footer-fixed:hover .extend {
  opacity: 1;
}
i {
  color: #663300;
  margin: 0 0.5em;
}
.inner-80 {
  width: 60%;
  margin: 0 auto;
}
.item-container {
  position: relative;
  float: center;
  width: 80%;
  margin: 0 auto;
}
.item {
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 2em;
  width: 3.9em;
  margin: 0.6em 0.6em;
  opacity: 0.95;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.item i {
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}
.item:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
}
.menu-container {
  position: fixed;
  right: 0px;
  bottom: 80px;
  height: 180px;
  width: 210px;
}
.menu-container i {
  color: #333;
  padding: 0.4em 0.2em;
}
.menu-container .tooltip {
  position: relative;
  font-size: 0.5em;
  bottom: 0.25em;
  margin-left: 0.5em;
}
.menu-container .circle {
  position: fixed;
  bottom: 65px;
  right: 169px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #333;
  opacity: 0;
  -webkit-transform: scale(1);
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -ms-transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
}
.menu-container .circle-sub {
  position: fixed;
  bottom: 65px;
  right: 169px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #00FFCC;
  opacity: 0;
  -webkit-transform: scale(1);
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: -webkit-transform 1.5s ease-in-out;
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  -ms-transition: -webkit-transform 1.5s ease-in-out;
  -o-transition: -webkit-transform 1.5s ease-in-out;
  transition: -webkit-transform 1.5s ease-in-out;
}
.menu-container .button {
  position: fixed;
  bottom: 80px;
  right: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -moz-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.menu-container .button.base-button:hover {
  background-color: #ffffff;
  opacity: 1;
}
.menu-container .base-button {
  position: fixed;
  bottom: 40px;
}
.menu-container .sub-button {
  visibility: hidden;
  font-size: 1.5em;
  width: 5.5em;
  background-color: #ffffff;
  opacity: 0;
}
.menu-container .sub-button.star {
  bottom: 192px;
  right: 40px;
}
.menu-container .sub-button.new {
  bottom: 146px;
  right: 40px;
}
.menu-container .sub-button.search {
  bottom: 100px;
  right: 40px;
}
